
.container-main {
    font-family: Arial;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    
    .gallery-toolbox {
        form {
            padding: 5px 20px 10px;    
            display: grid;
            grid-template-columns: 220px 400px auto;
            height: 34px;
            border-bottom: 2px solid #ccc;
            margin: 0 0 20px 0;

            

            .container-input {
                label {
                    margin: 0 10px 0 0;
                }
                input {
                    border-radius: 4px;
                    border: 2px solid #1d1af3;
                    font-size: 16px;
                    padding: 5px 8px;
                    width:30px;
                }
                button{
                    height: 32px;
                    width: 70px;
                    float: right;
                    border-radius: 3px;
                    box-shadow: unset;
                    border: 0;
                    padding: 8px;
                    background: #1d1af3;
                    color: #fff;
                }
            }
        }
    }

    .gallery {
        display: grid;
        grid-template-columns: auto auto auto;

        .img-wrap {
            position: relative;
            background-size: cover;

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }

    }
}

@media screen and (max-width: 900px) {
        .container-main {
            .gallery {
                grid-template-columns: auto auto;
            }
        }
}

@media screen and (max-width: 750px) {
    .container-main {
        .gallery-toolbox {
            form {
                grid-template-columns: auto auto;
                grid-row-gap: 10px;
                height: auto;
                .container-input {
                    button {
                        width: 100%;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .container-main {
        .gallery {
            grid-template-columns: auto;
        }
        .gallery-toolbox {
            form {
                grid-template-columns: auto;
                grid-row-gap: 10px;
                height: auto;
                .container-input {
                    label {
                        font-size: 18px;
                        display: block;
                        padding-bottom: 5px;
                    }
                    input {
                        width: calc(100% - 19px);
                        font-size: 21px;
                        
                    }

                    button {
                        height: 50px;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}