<div class="container-main">
  <div class="gallery-toolbox">
    <form class="configForm" #galleryConfig="ngForm" (ngSubmit)="changeGalSett(galleryConfig)">
      <div class="container-input clearfix">
        <label>Quantity of images:</label>
        <input type="number" name="imgNum" pattern="[0-9]*" ngModel>
      </div>
      <div class="container-input clearfix">
      <label>Window margin for loading: </label>
      <input type="number" name="windowOffset" pattern="[0-9]*" ngModel>
      </div>
      <div class="container-input">
        <button>Change</button>
      </div>
    </form>
  </div>
  <div class="gallery">
    <div *ngFor="let image of images; let i=index" (lazyload)="image.show = true" [imageOffset]="'0px 0px 200px 0px'">
      <div class="img-wrap" [ngStyle]="{'background-image': 'url( ' + image.url + ')'}" *ngIf="image.show"  
      [@inOutAnimation]></div>
    </div>
  </div>
</div>
